<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>
        <%=nome%>
    </h1>
    <h1>
        <%=language%>
    </h1>
    <h1>
        <%=empresa%>
    </h1>
    <h1>
        <%=idade%>
    </h1>
</body>

</html>