<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia perguntas</title>
</head>

<body>
    <h1>Guia perguntas</h1>
    <hr>
    <h2>Lista de perguntas</h2>
    <h3>
        Nome: <%=name%>
    </h3>
    <h3>
        Linguagem favorita: <%=language%>
    </h3>
    <h3>
        Empresa em que cursa: <%=empresa%>
    </h3>
    <h3>
        Idade aluno:<%=idade%>
    </h3>
   
</body>

</html>