<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Guia perguntas</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="/"><img src="/imagens/guia.png" alt=""></a>
    </nav>

    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>
            <div class="card-body">
                <form>
                    <label>Título</label>
                    <input class="form-control" type="text" placeholder="Título"><br>
                    <label>Descrição</label>
                    <textarea class="form-control" placeholder="Descreva a pergunta aqui"></textarea><br>
                    <button class="btn btn-primary">Enviar pergunta</button>
                </form>
            </div>
        </div>
    </div>

    </div>

</body>
<script src="../jquery-3.7.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="../js/bootstrap.min.js"></script>

</html>